.pg-wrapper {
  display: block;
  width: 100%;
  height: calc(100% - 120px);
  position: relative;
}

.logging-form-wrapper {
  display: block;
  width: 1000px;
  height: 500px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
.form-header {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
}
